body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
  text-align: left;
}

h1 {
  font-size: 3em;
}

label {
  font-size: 16px;
  font-weight: bold;
}

time {
  display: block;
  margin-bottom: 14px;
  font-weight: normal;
}

em {
  font-weight: normal;
}

#time-slider {
  margin-bottom: -4px;
  width: 400px;
}

.legend {
  display: flex;
  gap: 1px;
  margin-block: 14px;
}

.legend>div {
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 2px 50px;

  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals));
  background-color: var(--color);
}

.legend>div:nth-child(1) {
  text-align: left;
  padding-left: 4px;
}

.legend>div:nth-child(2) {
  text-align: center;
}

.legend>div:nth-child(3) {
  text-align: right;
  padding-right: 4px;
}